<div *ngIf="visible" class="yk-loading-page-container" @flyInOut (@flyInOut.done)="animationDone($event)">
    <div class="yk-loading-page-overlay left"></div>
    <div class="yk-loading-page-overlay right"></div>
    <div class="yk-loading-page-loader">
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
        <div class="yk-loading-page-line"></div>
    </div>
</div>