.yk-loading-bar-process {
  background-color: firebrick;
  color: firebrick;
  height: 2px;
  box-shadow: 0 0 10px 0;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.yk-loading-bar-spinner {
  display: block;
  position: fixed;
  top: 12px;
  right: 12px;
}

.yk-loading-bar-spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: firebrick;
  border-left-color: firebrick;
  border-radius: 50%;
  animation: yk-spinning 400ms linear infinite;
}

@keyframes yk-spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
